<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>fire_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{40,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,80}}</string>
                <key>sourceSize</key>
                <string>{40,80}</string>
            </dict>
            <key>fire_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{44,2},{40,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,80}}</string>
                <key>sourceSize</key>
                <string>{40,80}</string>
            </dict>
            <key>fire_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{86,2},{40,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,80}}</string>
                <key>sourceSize</key>
                <string>{40,80}</string>
            </dict>
            <key>fire_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{128,2},{40,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,80}}</string>
                <key>sourceSize</key>
                <string>{40,80}</string>
            </dict>
            <key>fire_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{170,2},{40,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,80}}</string>
                <key>sourceSize</key>
                <string>{40,80}</string>
            </dict>
            <key>fire_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{212,2},{40,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,80}}</string>
                <key>sourceSize</key>
                <string>{40,80}</string>
            </dict>
            <key>fire_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,84},{40,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,80}}</string>
                <key>sourceSize</key>
                <string>{40,80}</string>
            </dict>
            <key>fire_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{44,84},{40,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,80}}</string>
                <key>sourceSize</key>
                <string>{40,80}</string>
            </dict>
            <key>fire_21.png</key>
            <dict>
                <key>frame</key>
                <string>{{86,84},{40,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,80}}</string>
                <key>sourceSize</key>
                <string>{40,80}</string>
            </dict>
            <key>fire_22.png</key>
            <dict>
                <key>frame</key>
                <string>{{128,84},{40,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,80}}</string>
                <key>sourceSize</key>
                <string>{40,80}</string>
            </dict>
            <key>fire_23.png</key>
            <dict>
                <key>frame</key>
                <string>{{170,84},{40,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,80}}</string>
                <key>sourceSize</key>
                <string>{40,80}</string>
            </dict>
            <key>fire_24.png</key>
            <dict>
                <key>frame</key>
                <string>{{212,84},{40,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,80}}</string>
                <key>sourceSize</key>
                <string>{40,80}</string>
            </dict>
            <key>fire_25.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,166},{40,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,80}}</string>
                <key>sourceSize</key>
                <string>{40,80}</string>
            </dict>
            <key>fire_26.png</key>
            <dict>
                <key>frame</key>
                <string>{{44,166},{40,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,80}}</string>
                <key>sourceSize</key>
                <string>{40,80}</string>
            </dict>
            <key>fire_27.png</key>
            <dict>
                <key>frame</key>
                <string>{{86,166},{40,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,80}}</string>
                <key>sourceSize</key>
                <string>{40,80}</string>
            </dict>
            <key>fire_28.png</key>
            <dict>
                <key>frame</key>
                <string>{{128,166},{40,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,40}}</string>
                <key>sourceSize</key>
                <string>{40,40}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>fire.png</string>
            <key>size</key>
            <string>{256,256}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:03f755b2f137b3a83671fa4042e13cb9$</string>
            <key>textureFileName</key>
            <string>fire.png</string>
        </dict>
    </dict>
</plist>
